<div id="batteryWrap" style="width:50px">

  <!-- display battery percentage 


  <div id="battery0" ng-if="percent.replace('%','') <= 20">

    <div id="batteryWrap">

      <div id="textBox"> {{percent}} </div>

      <div id="mainRect">
        <div id="redBar"></div>
      </div>
      <div id="sideRect"></div>
    </div>

  </div>

  <div id="battery25" ng-if="percent.replace('%','') <= 40  && percent.replace('%','') > 20">

    <div id="batteryWrap">

      <div id="textBox"> {{percent}} </div>

      <div id="mainRect">
        <div id="yellowBar"></div>
        <div id="yellowBar" style="right:29px"></div>
      </div>
      <div id="sideRect"></div>
    </div>

  </div>


  <div id="battery50" ng-if="percent.replace('%','') <= 60 && percent.replace('%','') > 40">

    <div id="batteryWrap">

      <div id="textBox"> {{percent}} </div>

      <div id="mainRect">
        <div id="greenBar"></div>
        <div id="greenBar" style="right:29px"></div>
        <div id="greenBar" style="right:20px"></div>
      </div>
      <div id="sideRect"></div>
    </div>


  </div>

  <div id="battery75" ng-if="percent.replace('%','') <= 80 && percent.replace('%','') > 60">

    <div id="batteryWrap">

      <div id="textBox"> {{percent}} </div>

      <div id="mainRect">
        <div id="greenBar"></div>
        <div id="greenBar" style="right:29px"></div>
        <div id="greenBar" style="right:20px"></div>
        <div id="greenBar" style="right:11px"></div>
      </div>
      <div id="sideRect"></div>
    </div>


  </div>

  <div id="battery100" ng-if="percent.replace('%','') > 80">
    <div id="batteryWrap">

      <div id="textBox"> {{percent}} </div>

      <div id="mainRect">
        <div id="greenBar"></div>
        <div id="greenBar" style="right:29px"></div>
        <div id="greenBar" style="right:20px"></div>
        <div id="greenBar" style="right:11px"></div>
        <div id="greenBar" style="right:2px"></div>
      </div>
      <div id="sideRect"></div>
    </div>

  </div>


-->

  <!-- the bottom snippet is using the progress bar that bootstrap offers
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}">
    </div>
  </div>
  
   end of bootstrap progress bar -->

</div>

