<div ng-controller="LogController">

  <!--  uncomment if you want check boxes to be vertically aligned

	
	<ul style="display:block; padding:0px;">
	  <li>
	    <label> DEBUG: <input type="checkbox" ng-model="DEBUG.selected"  /> </label> 
	  </li>
	  <li>
	    <label> INFO: <input type="checkbox" ng-model="INFO.selected"  /> </label> 
	  </li>
	  <li>
	    <label> WARN: <input type="checkbox" ng-model="WARN.selected"  /> </label> 
	  </li>
	  <li>
	    <label> ERROR: <input type="checkbox" ng-model="ERROR.selected" /> </label> 
	  </li>
	  <li>
	    <label> FATAL: <input type="checkbox" ng-model="FATAL.selected"  /> </label> 
	    
	  </li>
	</ul>
  -->
  <ul style="list-style-type:none">
    <li>
      <label> DEBUG: <input type="checkbox" ng-model="DEBUG.selected"  /> </label> 
      &nbsp;
      &nbsp;
      <label> INFO: <input type="checkbox" ng-model="INFO.selected"  /> </label> 
      &nbsp;
      &nbsp;
      <label> WARN: <input type="checkbox" ng-model="WARN.selected"  /> </label> 
      &nbsp;
      &nbsp;
      <label> ERROR: <input type="checkbox" ng-model="ERROR.selected" /> </label> 
      &nbsp;
      &nbsp;
      <label> FATAL: <input type="checkbox" ng-model="FATAL.selected"  /> </label> 
      
    </li>
    
    <li>
      <button ng-click="showLog()"> Submit Level Restrictions </button> 
      <button ng-click="clearSelection()"> Clear Levels Restrictions </button>
    </li>
 
    <li>
      <button ng-click="clearLogOutput()"> Clear Log Output </button>
    </li>
 
    <li>
      <p style="text-align: center;font-size:30px;">Log Output </p>
    </li>
 
  </ul>
  
  <div id="logOutput" style="border: 1px black solid;overflow: auto; height:300px;">
    <!-- log output will be displayed here -->
  </div>
  
</div>
