<div id="publishSection">
  <div ng-controller="publishto">
    
    <ul>
      <li>
	<label> <input type="text" ng-model="newValue" ng-change="onDataChange()" /> </label> 
	<button ng-click="publishAllData()"> Publish </button>
      </li>
      <li>
	<label> horRight: <input type="checkbox" ng-model="horRightSelected" ng-change="onDataSelection()" /> </label> 
	<label> horLeft: <input type="checkbox" ng-model="horLeftSelected" ng-change="onDataSelection()" /> </label> 
	<label> verRight: <input type="checkbox" ng-model="verRightSelected" ng-change="onDataSelection()" /> </label> 
	<label> verLeft: <input type="checkbox" ng-model="verLeftSelected" ng-change="onDataSelection()" /> </label> 
      </li>
    </ul>
    
  </div>
  
</div>
